<!DOCTYPE html>
<html>
<head>
    <title>University Database</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>
<body>
    <div class="container">
        <h1>University Database</h1>
        <h2>Tables</h2>
        <ul>
            <li><a href="/students">Students</a></li>
            <li><a href="/professors">Professors</a></li>
            <li><a href="/lessons">Lessons</a></li>
            <li><a href="enrollments">Enrollments</a></li>
            <li><a href="/educational_groups">Educational Groups</a></li>
            <li><a href="/books">Books</a></li>
            <li><a href="/libraries">Libraries</a></li>
            <li><a href="/educational_staff">Educational Staff</a></li>
        </ul>
        <h2>Queries</h2>
        <ul>
            <li><a href="/query/student_enrollments">Students who have enrolled</a></li>
            <li><a href="/query/lessons_more_than_five_students">Lessons with more than 5 students</a></li>
            <li><a href="/query/student_avg_grades">Student average grades</a></li>
            <li><a href="/query/professors_more_than_70_units">Professors teaching more than 70 units</a></li>
            <li><a href="/query/books_borrowed_by_more_than_four">Books borrowed by more than 4 students</a></li>
            <li><a href="/query/professor_schedule">Professor schedule with conditions</a></li>
            <li><a href="/query/students_without_lessons">Students registered but not enrolled in any lessons</a></li>
        </ul>
    </div>
</body>
</html>
