<!DOCTYPE html>
<html>
<head>
    <title>Lessons</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>
<body>
    <div class="container">
        <h1>Lessons</h1>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Lesson Code</th>
                    <th>Course</th>
                </tr>
            </thead>
            <tbody>
                {% for lesson in lessons %}
                <tr>
                    <td>{{ lesson.lesson_code }}</td>
                    <td>{{ lesson.course }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</body>
</html>
